<?xml version="1.0" encoding="utf-8"?>
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
    xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
    xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    IgnorableNamespaces="uap uap4 uap5 rescap mp">
        <Identity Name="Microsoft.WebMediaExtensions" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.2.0" />
        <mp:PhoneIdentity PhoneProductId="8691ff41-abdc-4fb2-9b6b-1c9afe8efa72" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
        <Properties>
            <DisplayName>ms-resource:AppStoreName</DisplayName>
            <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
            <Logo>Assets\StoreLogo.png</Logo>
        </Properties>
        <Dependencies>
            <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.18000.0" />
        </Dependencies>
        <Resources>
            <Resource Language="x-generate" />
        </Resources>
        <Applications>
                <Application Id="App">
                        <uap:VisualElements
                            AppListEntry="none"
                            DisplayName="ms-resource:AppStoreName"
                            Square150x150Logo="Assets\MedTile.png"
                            Square44x44Logo="Assets\AppList.png"
                            Description="ms-resource:AppStoreName"
                            BackgroundColor="transparent">
                            <uap:DefaultTile
                                Wide310x150Logo="Assets\WideTile.png"
                                Square71x71Logo="Assets\SmallTile.png"
                                Square310x310Logo="Assets\LargeTile.png">
                                <uap:ShowNameOnTiles>
                                    <uap:ShowOn Tile="square150x150Logo" />
                                    <uap:ShowOn Tile="wide310x150Logo" />
                                    <uap:ShowOn Tile="square310x310Logo" />
                                </uap:ShowNameOnTiles>
                            </uap:DefaultTile>
                            <uap:SplashScreen Image="Assets\SplashScreen.png" />
                        </uap:VisualElements>

                        <Extensions>
                                <uap:Extension Category="windows.appService" EntryPoint="DecoderAppService.AppService">
                                        <uap:AppService Name="com.microsoft.codecs.audio" uap4:SupportsMultipleInstances="true" />
                                </uap:Extension>
                                <uap:Extension Category="windows.appService" EntryPoint="DecoderAppService.AppService">
                                        <uap:AppService Name="com.microsoft.codecs.video" uap4:SupportsMultipleInstances="true" />
                                </uap:Extension>
                                <uap:Extension Category="windows.appService" EntryPoint="SourceAppService.AppService">
                                        <uap:AppService Name="com.microsoft.mediasource" uap4:SupportsMultipleInstances="true" />
                                </uap:Extension>

                                <!-- CONTENT GENERATED BY PREBUILD, SEE BuildConfig.xml and Package.template.xml -->
<uap4:Extension Category="windows.mediaCodec">
<uap4:MediaCodec DisplayName="FFmpegCodec" Description="FFmpeg Audio MFT" Category="audioDecoder" AppServiceName="com.microsoft.codecs.audio">
<uap4:MediaEncodingProperties>
<uap4:InputTypes>
<!-- Vorbis -->
<uap4:InputType SubType="8D2FD10B-5841-4A6B-8905-588FEC1ADED9" />
</uap4:InputTypes>
<uap4:OutputTypes>
<!-- Uncompressed Float -->
<uap4:OutputType SubType="00000003-0000-0010-8000-00aa00389b71" />
</uap4:OutputTypes>
</uap4:MediaEncodingProperties>
</uap4:MediaCodec>
</uap4:Extension>

                                <!-- CONTENT GENERATED BY PREBUILD, SEE BuildConfig.xml and Package.template.xml -->
<uap4:Extension Category="windows.mediaCodec">
<uap4:MediaCodec DisplayName="FFmpegCodec" Description="FFmpeg Video MFT" Category="videoDecoder" AppServiceName="com.microsoft.codecs.video">
<uap4:MediaEncodingProperties>
<uap4:InputTypes>
<!-- Theora -->
<uap4:InputType SubType="6F656874-0000-0010-8000-00AA00389B71" uap5:MkvCodecId="V_THEORA" />
</uap4:InputTypes>
<uap4:OutputTypes>
<!-- Uncompressed NV12 -->
<uap4:OutputType SubType="3231564e-0000-0010-8000-00aa00389b71" />
</uap4:OutputTypes>
</uap4:MediaEncodingProperties>
</uap4:MediaCodec>
</uap4:Extension>


                                <uap5:Extension Category="windows.mediaSource">
                                        <uap5:MediaSource
                                                DisplayName="WebMediaSource"
                                                Description="Web Media Source Extension"
                                                AppServiceName="com.microsoft.mediasource">
                                                <uap5:SupportedFileTypes>
                                                        <!-- CONTENT GENERATED BY PREBUILD, SEE BuildConfig.xml and Package.template.xml -->
<uap5:FileType>.ogg</uap5:FileType>
<uap5:FileType>.ogv</uap5:FileType>
<uap5:FileType>.oga</uap5:FileType>
<uap5:FileType>.ogx</uap5:FileType>
<uap5:FileType>.ogm</uap5:FileType>
<uap5:FileType>.opus</uap5:FileType>

                                                </uap5:SupportedFileTypes>
                                                <uap5:SupportedContentTypes>
                                                        <!-- CONTENT GENERATED BY PREBUILD, SEE BuildConfig.xml and Package.template.xml -->
<uap5:ContentType SubType="audio/ogg" />
<uap5:ContentType SubType="video/ogg" />
<uap5:ContentType SubType="application/ogg" />

                                                </uap5:SupportedContentTypes>
                                        </uap5:MediaSource>
                                </uap5:Extension>
                        </Extensions>
                </Application>
        </Applications>
        <Capabilities>
                <rescap:Capability Name="webPlatformMediaExtension"/>
        </Capabilities>
</Package>
